WebService.ASMX/PersonasClient/Service References/PersonaWebService/PersonasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://andreshw.servicios.persona.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://andreshw.servicios.persona.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Presenta el crud basico para la entidad Persona.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://andreshw.servicios.persona.org/">
      <s:element name="ConsultarPersonas">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarPersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarPersonasResult" type="tns:ArrayOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarPersonaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPersonaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarPersonaPorIdResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPersonas" />
  </wsdl:message>
  <wsdl:message name="ConsultarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPersonaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPersonaPorId" />
  </wsdl:message>
  <wsdl:message name="ConsultarPersonaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPersonaPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="Servicio_x0020_personas_x0020_v1.0Soap">
    <wsdl:operation name="ConsultarPersonas">
      <wsdl:input message="tns:ConsultarPersonasSoapIn" />
      <wsdl:output message="tns:ConsultarPersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPersonaPorId">
      <wsdl:input message="tns:ConsultarPersonaPorIdSoapIn" />
      <wsdl:output message="tns:ConsultarPersonaPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Servicio_x0020_personas_x0020_v1.0Soap" type="tns:Servicio_x0020_personas_x0020_v1.0Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPersonas">
      <soap:operation soapAction="http://andreshw.servicios.persona.org/ConsultarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPersonaPorId">
      <soap:operation soapAction="http://andreshw.servicios.persona.org/ConsultarPersonaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Servicio_x0020_personas_x0020_v1.0Soap12" type="tns:Servicio_x0020_personas_x0020_v1.0Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPersonas">
      <soap12:operation soapAction="http://andreshw.servicios.persona.org/ConsultarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPersonaPorId">
      <soap12:operation soapAction="http://andreshw.servicios.persona.org/ConsultarPersonaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio_x0020_personas_x0020_v1.0">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Presenta el crud basico para la entidad Persona.</wsdl:documentation>
    <wsdl:port name="Servicio_x0020_personas_x0020_v1.0Soap" binding="tns:Servicio_x0020_personas_x0020_v1.0Soap">
      <soap:address location="http://localhost:62388/PersonasService.asmx" />
    </wsdl:port>
    <wsdl:port name="Servicio_x0020_personas_x0020_v1.0Soap12" binding="tns:Servicio_x0020_personas_x0020_v1.0Soap12">
      <soap12:address location="http://localhost:62388/PersonasService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>